// Colors
$primary-color: #1890FF;
$info-color: #40C9C6;
$danger-color: #F4516C;
$dark-color: #1F2D3D;
$darkest-color: #292929;
$background-color: #F0F2F5;
//$body-color: #f4f7fa;

// Animations
$transition-speed: 0.2s;
